html {
  height: 100vh;
}

body {
  min-height: 100%;
  background: linear-gradient(to right, #283048, #859398);
  font-family: "Patua One", cursive;
}

h1 {
  margin: 100px 0;
}

ul {
  list-style-type: none;
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.hover:not(.active):hover {
  opacity: 0.9;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading {
  font-size: 3rem;
}
